*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Exo 2", sans-serif;
    font-family: "PT Sans", sans-serif;
    /* font-family: "Familjen Grotesk",sans-serif; */
}
h1,h2,h3,h4{
    font-family: "Exo 2", sans-serif ;
    font-family: "Familjen Grotesk",sans-serif;
}