.hero-section {
    padding: 109px 0 67px;
}
.east__content--wrapper {
    @include Dipslay($AI: center, $JC: space-between, $GAP: 0);
}
.east__wrapp {
    max-width: 550px;
}
.east__wrapp--title {
    @include FontStiyle(
    $FW: 600,
    $FS: 52px,
    $LH: 65px,
    $Ttr: capitalize,
    $CLR: $--title-clr,
    $MB: 40px
    );
}
.east__wrapp--text {
    @include FontStiyle(
    $FW: 400,
    $FS: 16px,
    $LH: 24px,
    $Ttr: inherit,
    $CLR: $--text-clr,
    $MB: 40px
    );
}
.east__wrapp--link {
    @include FontStiyle(
    $FW: 700,
    $FS: 16px,
    $LH: 24px,
    $Ttr: inherit,
    $CLR: $--title-clr,
    $MB: 0px
    );
    padding-bottom: 10px;
    border-bottom: 3px solid $--link-clr;
}
.east__img--tablet,
.east__img--mobile {
    display: none;
}
.hero__list {
    margin-top: 67px;
    padding: 40px 0;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 $--shadow-clr;
    @include Dipslay($AI: center, $JC: space-between, $GAP: 0);
}
.hero__item {
    padding: 40px 0 56px 80px;
}
.hero__item + .hero__item {
    border-left: 1px solid $--border-clr;
}
.hero__item:nth-child(3) {
    padding-right: 122px;
}
.hero__item--cart {
    max-width: 92px;
    width: 100%;
    height: 92px;
    border-radius: 50%;
    position: relative;
    background-color: $--blok-bg-clr;
}
.hero__item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
}
.hero__item--wrapp {
    max-width: 235px;
    margin-top: 24px;
}
.hero__item--title {
    @include FontStiyle(
    $FW: 600,
    $FS: 20px,
    $LH: 27px,
    $Ttr: capitalize,
    $CLR: $--title-clr,
    $MB: 16px
    );
}
.hero__item--text {
    @include FontStiyle(
    $FW: 400,
    $FS: 16px,
    $LH: 24px,
    $Ttr: capitalize,
    $CLR: $--text-clr,
    $MB: 0px
    );
}
@media (max-width: 957px) {
    .hero-section {
        padding: 117px 0 41px;
    }
    .east__content--wrapper {
        flex-direction: column;
        @include Dipslay($AI: center, $JC: flex-start, $GAP: 73px);
    }
    .hero__item {
        padding: 40px 0 56px 80px;
        vertical-align: top;
    }
    .hero__item + .hero__item {
        border-left: none;
    }
    .hero__item:nth-child(3) {
        padding-right: 0;
    }
    .east__img--tablet {
        display: block;
        max-width: 690px;
    }
    .east__img--descktop,
    .east__img--mobile {
        display: none;
    }
}
@media (max-width: 710px) {
    .hero-section {
        padding: 117px 0 41px;
    }
    .east__content--wrapper {
        flex-direction: column;
        @include Dipslay($AI: center, $JC: flex-start, $GAP: 73px);
    }
    .east__wrapp {
        max-width: 100%;
        text-align: center;
    }
    .east__wrapp--title {
        @include FontStiyle(
        $FW: 600,
        $FS: 44px,
        $LH: 55px,
        $Ttr: capitalize,
        $CLR: $--title-clr,
        $MB: 49px
        );
    }
    .east__wrapp--text {
        @include FontStiyle(
        $FW: 400,
        $FS: 16px,
        $LH: 24px,
        $Ttr: inherit,
        $CLR: $--text-clr,
        $MB: 44px
        );
    }
    .east__wrapp--link {
        @include FontStiyle(
        $FW: 700,
        $FS: 16px,
        $LH: 24px,
        $Ttr: inherit,
        $CLR: $--title-clr,
        $MB: 73px
        );
    }
    .hero__list {
        margin-top: 41px;
        flex-direction: column;
        @include Dipslay($AI: center, $JC: flex-start, $GAP: 16px);
        border-radius: none;
        box-shadow: none;
    }
    .hero__item {
        width: 100%;
        padding: 32px 0 42px 32px;
        border-radius: 20px;
        box-shadow: 0 4px 20px 0 $--shadow-clr;
        @include Dipslay($AI: center, $JC: flex-start, $GAP: 32px);
    }
    .hero__item--wrapp {
        max-width: 100%;
    }
}
@media (max-width: 698px) {
    .hero-section {
        padding: 75px 0 34px;
    }
    .east__content--wrapper {
        flex-direction: column;
        @include Dipslay($AI: flex-start, $JC: flex-start, $GAP: 40px);
    }
    .east__wrapp {
        max-width: 100%;
        text-align: left;
    }
    .east__wrapp--title {
        @include FontStiyle(
        $FW: 600,
        $FS: 28px,
        $LH: 35px,
        $Ttr: capitalize,
        $CLR: $--title-clr,
        $MB: 32px
        );
    }
    .east__wrapp--text {
        @include FontStiyle(
        $FW: 400,
        $FS: 15px,
        $LH: 22.5px,
        $Ttr: inherit,
        $CLR: $--text-clr,
        $MB: 32px
        );
    }
    .east__img--mobile {
        display: block;
        width: 100%;
        height: auto;
    }
    .east__img--descktop,
    .east__img--tablet {
        display: none;
    }
    .east__wrapp--link {
        @include FontStiyle(
        $FW: 700,
        $FS: 15px,
        $LH: 22.5px,
        $Ttr: inherit,
        $CLR: $--title-clr,
        $MB: 0px
        );
    }
    .hero__list {
        margin-top: 56px;
        flex-direction: column;
        @include Dipslay($AI: flex-start, $JC: flex-start, $GAP: 24px);
        box-shadow: 0 4px 20px 0 $--shadow-clr;
        border-radius: 20px;
    }
    .hero__item {
        width: 100%;
        padding: 24px 0 0 32px;
        border: none;
        box-shadow: none;
        flex-direction: column;
        @include Dipslay($AI: flex-start, $JC: flex-start, $GAP: 16 px);
    }
    .hero__item--cart {
        max-width: 68px;
        width: 100%;
        height: 68px;
        border-radius: 50%;
        position: relative;
        background-color: $--blok-bg-clr;
    }
    .hero__item-img {
        width: 37px;
        height: 37px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
    }
    .hero__item--wrapp {
        max-width: 100%;
        margin-top: 0;
    }
    .hero__item--title {
        @include FontStiyle(
        $FW: 600,
        $FS: 18px,
        $LH: 24px,
        $Ttr: capitalize,
        $CLR: $--title-clr,
        $MB: 12px
        );
    }
    .hero__item--text {
        @include FontStiyle(
        $FW: 400,
        $FS: 15px,
        $LH: 22.5px,
        $Ttr: capitalize,
        $CLR: $--text-clr,
        $MB: 0px
        );
    }
}
